@model IEnumerable<BC.Models.BC_Post>

@{
    Layout = null;
}

<table id="list">
    <tr>
        <th class="medium"></th>
        <th class="small center">
            Category
        </th>
        <th class="center">
            Title
        </th>
        <th class="medlarge center">
            Publish Date
        </th>
        <th class="small"></th>
        <th class="small"></th>
        <th class="small"></th>
        <th class="small"></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="center">
                <span class="red">@Html.ActionLink("[" + item.Comment_Unread_Count() + "]", "index", "commentadmin", new { postID = item.PostID, Area = "comment" }, "")</span>
                -
                @Html.ActionLink("[" + item.Comment_Count() + "]", "index", "commentadmin", new { postID = item.PostID }, "")
            </td>
            <td class="center">
                @item.CategoryID
            </td>
            <td>
                @item.Title
            </td>
            <td class="center">
                @String.Format("{0:g}", item.PublishDate)
            </td>
            <td class="center">
                @Html.ActionLink("Edit", "edit", new { id = item.PostID })
            </td>
            <td class="center">
                @Html.ActionLink("Details", "details", new { id = item.PostID })
            </td>
            <td class="center">
                @Html.ActionLink("Preview", "details", "post", new { category = item.Category().Name.ToLower(), slug = item.Slug }, "")
            </td>
            <td class="center">
                @Html.ActionLink("Delete", "delete", new { id = item.PostID })
            </td>
        </tr>
    }

</table>

