@model BC.Models.BC_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@Model.Name</h2>
<p>
    '@Model.Name' details:
</p>

<fieldset>
    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>

<p class="breadcrumb">
    @Html.ActionLink("Edit", "edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("<- Back to List", "index")
</p>

